{% extends 'base.html' %} {% block content%}
<div class="container">

  <div class="card-panel center teal white-text lighten-2">
    <h4> Zesty Recipes</h4>
  </div>
  <div class="row">
    <div class="card small col s6">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/img/JalapenoGrilledCheeseSandwich.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Jalapeno Grilled Cheese Sandwich<i class="material-icons right">expand_more</i></span>
        <p><a href='{{url_for('sandwiches')}}'>Recipes for Sandwiches</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title orange-text text-darken-4">Jalapeno Grilled Cheese Sandwich<i class="material-icons right">close</i></span>
        <p><strong>Prep Time:</strong><i class="tiny material-icons">timer</i>{{recipe_preptime}}<br><strong>Cook Time:</strong><i class="tiny material-icons">access_time</i> 6 mins<br><i class="tiny material-icons">person</i>1</p>
      </div>
    </div>
    <div class="card small col s6 ">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/img/GuinnessChocolateCheesecake.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Guinness Chocolate Cheesecake<i class="material-icons right">expand_more</i></span>
        <p><a href="{{url_for('cakes')}}">Recipes for Cakes</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title orange-text text-darken-4">Guinness Chocolate Cheesecake<i class="material-icons right">close</i></span>
        <p>
          <p><strong>Prep Time:</strong><i class="tiny material-icons">timer</i> 10 mins<br><strong>Cook Time:</strong><i class="tiny material-icons">access_time</i> 2 hrs<br><i class="tiny material-icons">person</i>6</p>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col small s6">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/img/smashedchickpeaavocadosaladsandwich.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Smashed Chickpea Avocado Sandwich<i class="material-icons right">expand_more</i></span>
        <p><a href="{{url_for('vegan')}}">Recipes for Vegans</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title orange-text text-darken-4">Smashed Chickpea Avocado Sandwich<i class="material-icons right">close</i></span>
        <p>
          <p>
            <p><strong>Prep Time:</strong><i class="tiny material-icons">timer</i> 10 mins<br><strong>Cook Time:</strong><i class="tiny material-icons">access_time</i> 0<br><i class="tiny material-icons">person</i>2</p>
          </p>
        </p>
      </div>
    </div>
    <div class="card col small  s6">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/img/pasta.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Delicious Lasagna<i class="material-icons right">expand_more</i></span>
        <p><a href="{{url_for('pastas')}}">Recipe for Pasta</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title orange-text text-darken-4">Delicious Lasagna<i class="material-icons right">close</i></span>
        <p>
          <p>
            <p><strong>Prep Time:</strong><i class="tiny material-icons">timer</i> 30 mins<br><strong>Cook Time:</strong><i class="tiny material-icons">access_time</i> 30 mins<br><i class="tiny material-icons">person</i>12</p>
          </p>
        </p>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}